<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @review.data %>
</p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>/10
</p>

<p>
  <strong>Director:</strong>
  <%= @review.director %>
</p>

<p>
  <strong>Movietitle:</strong>
  <%= @review.movietitle %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
